body{
    background: #d4d4d4;
}

p{
    color:#424141;
}

.foto-principal {
width: 200px;
border: 5px solid #ffffff; /*shorthand*/
border-radius: 50%;
/*margin-top: 30px;
margin-bottom: 100px;
margin-left: 100px;*/

margin: 30px 30px 30px;
  
  /*  border-width: 5px;
   border-style: solid;
  border-color: black;
   */
}

